.main-page-wrapper {
  padding: 0 30px;
  padding-top: 20px;
}

.main-page-wrapper__content {
  display: flex;
  justify-content: space-between;
}

.content__left-side {
  width: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-side__search-container {
  align-self: flex-start;
  margin-top: 35px;

  .search-form {
    position: relative;
    width: 400px;
    height: 40px;
  }

  .search-form__button {
    position: absolute;
    top: 5px;
    left: 8px;
    width: 30px;
    height: 30px;
    background-image: url('../../assets/icons/search.svg');
    background-size: cover;
    background-color: transparent;
    transition: 0.3s;
    z-index: 2;
  }

  .search-form__button:hover{
    scale: 1.1;
  }

  input {
    width: 100%;
    height: 100%;
    background-color: #E7CC40;
    border: 1px #000000 solid;
    border-radius: 10px;
    color: #000000;
    font-size: 22px;
    padding-left: 50px;
    transition: 0.3s;
  }

  input:hover{
    border: 2px #000000 solid;
    cursor: pointer;
  }

  input:focus{
    scale: 1.02;
    border: 2px #000000 solid;
    box-shadow: #e7cb4071 5px 5px;
    cursor: auto;
  }

  input::-moz-placeholder {
    color: #000000;
  }

  input::-webkit-input-placeholder {
    color: #000000;
  }
}

.left-side__text,
.description-text {
  color: #C9C9C9;
  font-size: 22px;
  text-align: justify;
  line-height: 27px;
}

.content__slider {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  padding-left: 50px;

  .slider-container__images{
    display: flex;
    column-gap: 50px;
    height: 100%;
    transition: 0.5s;
  }
}

.slider__buttons {
  width: 180px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.slider__buttons__item {
  width: 20px;
  height: 100%;
  border-radius: 50%;
  background-color: #D9D9D9;
  transition: 0.3s;
}

.slider__buttons__item:hover{
  background-color: #fdd377;
}

.slider__buttons__item.active {
  background-color: #E7CC40;
}

.description-text {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}

.geo-text {
  margin-top: 15px;
}

.left-side__start-btn {
  width: 300px;
  height: 70px;
  background-color: #E7CC40;
  border: 1px #000000 solid;
  border-radius: 10px;
  color: #000000;
  font-size: 30px;
  margin-top: 60px;
  padding-top: 17px;
  padding-left: 40px;
  transition: 0.3s;
}

.left-side__start-btn:hover{
  border: 2px #000000 solid;
  scale: 1.05;
  box-shadow: #e7cb4071 5px 5px;
}

.error-message {
  font-size: 18px;
  color: red;
  margin-top: 5px;
  text-align: center;
}