.leisure-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px #000000 solid;
  cursor: pointer;
}

.leisure-container__left-side {
  display: flex;
  align-items: center;
  column-gap: 15px;
  width: calc(100% - 30px);

  .literature {
    background-image: url('../assets/icons/literature.png');
  }

  .sport {
    background-image: url('../assets/icons/sport.png');
  }

  .food {
    background-image: url('../assets/icons/food.png');
  }

  .art {
    background-image: url('../assets/icons/art.png');
  }

  .cinema {
    background-image: url('../assets/icons/cinema.png');
  }

  .music {
    background-image: url('../assets/icons/music.png');
  }

  .technics {
    background-image: url('../assets/icons/technics.png');
  }

  .games {
    background-image: url('../assets/icons/games.png');
  }

  .entertainment {
    background-image: url('../assets/icons/entertainment.png');
  }

  .nature {
    background-image: url('../assets/icons/nature.png');
  }

  .animals {
    background-image: url('../assets/icons/animals.png');
  }

  .shopping {
    background-image: url('../assets/icons/shopping.png');
  }

  .night-life {
    background-image: url('../assets/icons/night-life.png');
  }

  .dances {
    background-image: url('../assets/icons/dances.png');
  }

  .space {
    background-image: url('../assets/icons/space.png');
  }

  .search{
    background-image: url('../assets/icons/search-leisure.png');
  }
}

.left-side__image {
  width: 50px;
  height: 50px;
  background-size: cover;
}

.info__name {
  font-size: 22px;
  font-weight: 700;
  color: #000000;
}

.info__text {
  color: #000000;
  margin-top: 10px;
  font-size: 22px;
  max-width: 800px;
}

.leisure-container__favorite-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url('../assets/icons/notFavorite.svg');
  background-size: cover;
  transition: 0.3s;
}

.leisure-container__favorite-btn.active{
  background-image: url('../assets/icons/favorite.svg');
}

.favorite-error{
  font-size: 20px;
  color: red;
  text-align: center;
  margin-top: 5px;
}

// .ymaps-2-1-79-svg-icon {
//   width: 40px !important;
//   height: 40px !important;
//   background-image: url('../assets/img/food.png') !important;
//   background-size: cover !important;
// }