.logo-container{
  display: flex;
  align-items: center;
}

.logo-container__image{
  width: 50px;
  height: 50px;
  background-image: url('../assets/icons/logo.png');
  background-size: cover;
}

.logo-container__title{
  font-size: 25px;
  color: #C9C9C9;
  margin-left: 15px;
}