.popup-background{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353535;
  opacity: 0.8;
}

.popup-container{
  background-color: #E7CC40;
  border-radius: 20px;
  padding: 30px;
}