.popup-background{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 2501;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(54, 54, 54, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  cursor: pointer;
}

.popup-background.active{
  opacity: 1;
  pointer-events: all;
}

.popup-container{
  position: relative;
  background-color: #E7CC40;
  border: 1px #000000 solid;
  border-radius: 20px;
  padding: 30px;
  cursor: default;
}

.close-modal-btn{
  position: absolute;
  display: flex;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px #000000 solid;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;

  span{
    display: block;
    position: absolute;
    top: 50%;
    left: calc(50% - 17px);
    width: 90%;
    height: 1px;
    background-color: #000000;
    transition: 0.3s;
  }

  span:nth-child(1){
    transform: rotate(-45deg);
  }

  span:nth-child(2){
    transform: rotate(45deg);
  }
}

.close-modal-btn:hover{
  background-color: #404040;
  border: 1px #E7CC40 solid;
  scale: 1.02;

  span{
    background-color: #E7CC40;
  }
}